div {
    white-space: pre;
}

.window {
    font-family: monospace;
    font-size: 100%;
    color: DarkBlue;
    background-color: #E9C062;
}

.pane {
    border-style: solid;
    border-color: brown;
    border-width: 1px;
    /*padding: 1px;*/
    margin: 1px;
    background-color: #E9C062;
    overflow: auto;
}

.pane-cursor {
    border-color: DarkGreen;
    border-width: 5px;
}

.pane-hovered {
    border-color: Lime;
    border-width: 5px;
}
