.block {
    margin: 0px;
    padding: 2px;
}

.inline-block {
    @extend .block;
    border-radius: 3px;
    display: inline-block;
    vertical-align: baseline;
}

.indented-block {
    margin: 0px;
    padding: 0px;
    border-left: 3px solid #888888;
}

.underlined-block {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #888888;
}

.underlined-child-block {
    @extend .inline-block;
}

.block-spacial {
    margin: 0px;
    padding: 1px;
}

.block-clickable:hover {
    @extend .block-spacial;
    border: 1px solid #AAAAAA;
}

.block-on-cursor {
    @extend .block-spacial;
    border: 1px solid black !important;
}

@mixin color-with-bg($color) {
    color: $color;
    background-color: $color * 0.3 + white * 0.7;
}


/* newly defined string */
.newly-defined-block {
    @extend .inline-block;
    @include color-with-bg(#330055)
}

/* keyword */
.keyword-block {
    @extend .inline-block;
    color: #880000;
    font-weight: bold;
}

/* grammar */
.grammar-block {
    @extend .inline-block;
    @include color-with-bg(#004400)
}

/* place to choose grammar */
.grammar-todo-block {
    @extend .grammar-block;
}

/* format for inductive grammar */
.ind-format-block {
    @extend .inline-block;
    color: magenta;
    font-weight: bold;
}

/* place to choose term */
.term-todo-block {
    @extend .inline-block;
    @include color-with-bg(#FF0000)
}

/* variable */
.variable-block {
    @extend .inline-block;
    @include color-with-bg(#0000FF)
}

/* -------------------------------------------------------------------------- */

div {
    white-space: pre;
}

th, td {
    padding: 5px;
}

.window {
    font-family: monospace;
    font-size: 100%;
    color: Black;
    background-color: #73AD21;
}

.pane {
    border-radius: 10px;
    background: #E9C062;
    padding: 5px;
    /*padding: 1px;*/
    margin: 3px;
    overflow: auto;
}

.pane-on-cursor {
    background: #E9D092;
}

/* .pane-cursor { */
/*     border-color: DarkGreen; */
/*     border-width: 5px; */
/* } */

/* .pane-hovered { */
/*     border-color: Lime; */
/*     border-width: 5px; */
/* } */

.package-package-td {
    font-weight: bold;
    text-decoration: underline;
    color: #0000BB;
}

.package-module-td {
    font-weight: bold;
    text-decoration: underline;
    color: #BB00BB;
}

.package-node-text {
    color: #222222;
}

.keymap-table tr:hover:nth-child(n+2) {
    background-color: #FEFEFE;
}

.keymap-keystroke-td {
    color: #BB00BB;
}

.keymap-prefix-description-td {
    font-weight: bold;
    text-decoration: underline;
    color: #0000BB;
}

.keymap-command-description-td {
    color: #0000BB;
}