div {
    white-space: pre;
}

th, td {
    padding: 5px;
}

.window {
    font-family: monospace;
    font-size: 100%;
    color: Black;
    background-color: #73AD21;
}

.pane {
    border-radius: 10px;
    background: #E9C062;
    padding: 5px;
    /*padding: 1px;*/
    margin: 3px;
    overflow: auto;
}

/* .pane-cursor { */
/*     border-color: DarkGreen; */
/*     border-width: 5px; */
/* } */

/* .pane-hovered { */
/*     border-color: Lime; */
/*     border-width: 5px; */
/* } */

.package-package-td {
    font-weight: bold;
    text-decoration: underline;
    color: #0000BB;
}

.package-module-td {
    font-weight: bold;
    text-decoration: underline;
    color: #BB00BB;
}

.package-node-text {
    color: #0000BB;
}

.keymap-table tr:hover:nth-child(n+2) {
    background-color: #FEFEFE;
}

.keymap-keystroke-td {
    color: #BB00BB;
}

.keymap-prefix-description-td {
    font-weight: bold;
    text-decoration: underline;
    color: #0000BB;
}

.keymap-command-description-td {
    color: #0000BB;
}