$inline-padding: 5px;

.block {
    margin: 0px;
    padding: 2px $inline-padding 1px $inline-padding;
}

.inline-block {
    @extend .block;
    border-radius: 0px;
    display: inline-block;
    vertical-align: baseline;
}

.indented-block {
    margin: 1px;
    margin-left: 5px;
    margin-right: 4px;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px solid #888888;
    border-left-width: 3px;
}

.indented-block:hover {
    margin: 0px;
    margin-left: 4px;
    margin-right: 5px;
    margin-bottom: 9px;
    padding: 0px;
    border: 1px solid #888888;
    border-left-width: 4px;
    border-right-width: 4px;
}

.indented-block-on-cursor {
    margin: 1px !important;
    margin-left: 5px !important;
    margin-bottom: 10px !important;
    padding: 0px !important;
    border: 0px solid black !important;
    border-left-width: 3px !important;
    border-right-width: 3px !important;
}

.indented-block-on-cursor:hover {
    margin: 0px !important;
    margin-left: 4px !important;
    margin-bottom: 9px !important;
    padding: 0px !important;
    border: 1px solid #888888 !important;
    border-left-width: 4px !important;
    border-right-width: 4px !important;
}

.underlined-block {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #888888;
}

.underlined-child-block {
    @extend .inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

.block-spacial {
    margin: 0px;
    padding-top: 1px;
}

.block-clickable:hover {
    @extend .block-spacial;
    border: 0px solid #AAAAAA;
    border-top-width: 1px;
}

.block-on-cursor {
    @extend .block-spacial;
    border: 0px solid black !important;
    border-top-width: 1px !important;
}

input {
    border: 0px solid black !important;
}

@mixin color-with-bg($color) {
    color: $color;
    background-color: $color * 0.3 + white * 0.7;
}


/* newly defined string */
.newly-defined-block {
    @extend .inline-block;
    @include color-with-bg(#330055)
}

/* keyword */
.keyword-block {
    @extend .inline-block;
    margin-top: 3px;
    margin-bottom: 2px;
    color: #880000;
    font-weight: bold;
}

/* todo keyword */
.todo-keyword-block {
    @extend .inline-block;
    margin-top: 3px;
    margin-bottom: 2px;
    @include color-with-bg(#880000);
    font-weight: bold;
}

/* button */
.button-block {
    @extend .inline-block;
    @include color-with-bg(#8888FF);
}

/* grammar */
.grammar-block {
    @extend .inline-block;
    @include color-with-bg(#004400);
    font-weight: bold;
}

/* format for inductive grammar */
.ind-format-block {
    @extend .inline-block;
    color: magenta;
    font-weight: bold;
}

/* place to choose term */
.term-todo-block {
    @extend .inline-block;
    @include color-with-bg(#008800)
}

/* variable */
.const-var-block {
    @extend .inline-block;
    @include color-with-bg(#4444FF);
}
.subst-var-block {
    @extend .inline-block;
    @include color-with-bg(#0000FF);
}
.unify-var-block {
    @extend .inline-block;
    @include color-with-bg(#0000FF);
    font-weight: bold;
}

/* rule */
.rule-block {
    @extend .inline-block;
    @include color-with-bg(#004400);
}

/* theorem */
.theorem-block {
    @extend .inline-block;
    @include color-with-bg(#009933);
}

/* place to choose rule */
.rule-todo-block {
    @extend .rule-block;
    @include color-with-bg(#005533)
}

/* -------------------------------------------------------------------------- */

div {
    white-space: pre;
}

th, td {
    padding: 5px;
}

.window {
    font-family: monospace;
    font-size: 100%;
    color: Black;
    background-color: Green;
}

.pane {
    border-radius: 10px;
    background: #EEE0C2;
    padding: 5px;
    /*padding: 1px;*/
    margin: 3px;
    overflow: auto;
}

.pane-on-cursor {
    background: #EEE8D2;
}

/* .pane-cursor { */
/*     border-color: DarkGreen; */
/*     border-width: 5px; */
/* } */

/* .pane-hovered { */
/*     border-color: Lime; */
/*     border-width: 5px; */
/* } */

.package-package-td {
    font-weight: bold;
    text-decoration: underline;
    color: #0000BB;
}

.package-module-td {
    font-weight: bold;
    text-decoration: underline;
    color: #BB00BB;
}

.package-node-text {
    color: #222222;
}

.keymap-table tr:hover:nth-child(n+2) {
    background-color: #FEFEFE;
}

.keymap-keystroke-td {
    color: #BB00BB;
}

.keymap-prefix-description-td {
    font-weight: bold;
    text-decoration: underline;
    color: #0000BB;
}

.keymap-command-description-td {
    color: #0000BB;
}