div {
    white-space: pre;
}

.window {
    font-family: monospace;
    font-size: 100%;
    color: DarkBlue;
    background-color: #E9C062;
}

.pane {
    border-radius: 10px;
    background: #73AD21;
    padding: 5px;
    /*padding: 1px;*/
    margin: 3px;
    overflow: auto;
}

.pane-cursor {
    border-color: DarkGreen;
    border-width: 5px;
}

.pane-hovered {
    border-color: Lime;
    border-width: 5px;
}
